############################################################
# GENERAL
############################################################
LS='gls -FX --color --group-directories-first'
alias sudo='sudo '
alias bs='browser-sync'
alias c='ccat '
alias cdi='touch "$CDI" && ranger --choosedir="$CDI"; cd $(cat "$CDI"); \rm "$CDI"'
alias cdp='cd $(pbpaste)'
alias e='nvim '
alias l="$LS -A"
alias la='l'
alias ll='l -o'
alias r='ranger'
alias rm='rm -i'
alias rlz='. "$XDG_CONFIG_HOME"/zsh/.zshrc && . "$HOME"/.zshenv && clear'
alias syu='play -K "$HOME"/code/dotfiles/osx-dotfiles/site.yml'

############################################################
# CD
############################################################
alias ..2='cd ../..'
alias ..3='cd ../../..'
alias ..4='cd ../../../..'
alias ..5='cd ../../../../..'

############################################################
# DOCKER
############################################################
alias d='docker '
alias dc='docker-compose '
alias dm='docker-machine '
alias dps='docker ps'
alias dzr='dc run web python manage.py'

############################################################
# GIT
############################################################
alias ga='git add -A -v'
alias gb='git checkout ' # branch
alias gbc='git rev-parse --abbrev-ref HEAD' # current branch
alias gc='git commit -m '
alias gcl='git commit'
alias gd='git diff'
#alias ge # evict -- see zsh .functions
#alias gf=
alias gg='git grep '
alias gh='git help '
alias gi='git status -s' # info
#alias gj=
alias gk='git clean -i'
alias gl='git shortlog --reverse | head -n 11'
alias gm='git merge'
alias gn='git checkout -b ' # new
#go -- taken by golang
alias gp='git push'
#alias gq=
alias gr='git remote'
alias gs='git stash'
alias gt='git branch -a' # tree
alias gu='git pull' # update
alias gv='git tag ' # version
alias gw='git blame ' # who
alias gx='git rm --cached '
#alias gy=
alias gz='git reset'

############################################################
# NODE
############################################################
alias nd='npm i --save-dev '
alias ng='npm i -g '
alias ni='npm i --save '
alias nl='npm ls'
alias nr='npm run -s '
alias nrv='npm run '
alias ns='npm start -s'
alias nt='npm test'
alias ntg='npm test -s -- --grep '
alias nu='nvm use --silent'
alias nuc='nvm current'
alias nud='nvm use default --silent'
alias nul='nvm ls'
alias n='node $(git rev-parse --show-toplevel)/scripts/launcher.js '

############################################################
# ANSIBLE
############################################################
alias play='ansible-playbook '

############################################################
# TMUX
############################################################
alias tma='tmux attach -t '
# vim: ft=zsh
