path_append () {
  PATHS=(${(s_:_)PATH})
  IN_PATH=0
  for (( i = 1; i <= $#PATHS; i++ )) do
    [ "$1" = "$PATHS[i]" ] && IN_PATH=1
  done
  [ "$IN_PATH" -eq 0 ] && PATH="$PATH:$1"
}

path_prepend () {
  PATHS=(${(s_:_)PATH})
  IN_PATH=0
  for (( i = 1; i <= $#PATHS; i++ )) do
    [ "$1" = "$PATHS[i]" ] && IN_PATH=1
  done
  [ "$IN_PATH" -eq 0 ] && PATH="$1:$PATH"
}

chpwd() {
  emulate -L zsh
  la
}

cleanhome () {
  local TO_CLEAN=(
    "$HOME"/.DS_Store
    "$HOME"/Documents
    "$HOME"/Downloads
    "$HOME"/Movies
    "$HOME"/Music
    "$HOME"/Pictures
  )
  for (( i = 1; i <= $#TO_CLEAN; i++ )) do
    [ -e "$TO_CLEAN[i]" ] && sudo \rm -r "$TO_CLEAN[i]"
  done
}

# vim: ft=zsh
