a () {
  local AGAIN="$(fc -ln -1)"
  echo "repeating: $AGAIN\n"
  # this needs to expand aliases
  zsh -c "$AGAIN"
}

path_append () {
  PATHS=(${(s_:_)PATH})
  IN_PATH=0
  for (( i = 1; i <= $#PATHS; i++ )) do
    [ "$1" = "$PATHS[i]" ] && IN_PATH=1
  done
  [ "$IN_PATH" -eq 0 ] && PATH="$PATH:$1"
}

path_prepend () {
  PATHS=(${(s_:_)PATH})
  IN_PATH=0
  for (( i = 1; i <= $#PATHS; i++ )) do
    [ "$1" = "$PATHS[i]" ] && IN_PATH=1
  done
  [ "$IN_PATH" -eq 0 ] && PATH="$1:$PATH"
}

chpwd() {
  emulate -L zsh
  l
}

dejunk () {
  typeset -a TO_CLEAN
  TO_CLEAN=(
    "$HOME"/.DS_Store
    "$HOME"/Desktop/.DS_Store
    "$HOME"/Documents
    "$HOME"/Downloads
    "$HOME"/Movies
    "$HOME"/Music
    "$HOME"/Pictures
    "$HOME"/.ansible
    "$HOME"/.node_repl_history
    "$HOME"/.temp/.DS_Store
    "$HOME"/.temp/screenshots/*
    "$HOME"/.temp/screenshots/.DS_Store
    .v8flags.*.json
    .bashrc
    .git-credential-cache
  )
  for (( i = 1; i <= $#TO_CLEAN; i++ )) do
    if [[ -e "$TO_CLEAN[i]" ]] then
      # echo "$TO_CLEAN[i]"
      sudo \rm -r "$TO_CLEAN[i]"
    fi
  done
}

pwd_short () {
  echo $(pwd | sed "s,^$HOME,~,")
}

# git evict -- delete branch locally and on origin
ge () {
  git push origin --delete "$1" && git branch -d "$1"
}

# git changed recently
gcr () {
  local DAYS=$([ -n "$1" ] && echo -n "$1" || echo -n 7)
  echo "Files changed in last $DAYS days:\n---"
  git diff --stat @{"$DAYS".days.ago}
}

# zapier python linting
superlint () {
  local CWD=$(pwd)
  local GIT_ROOT=$(git rev-parse --show-toplevel)
  cd -q "$GIT_ROOT"

  local FLAKE8='flake8 --format=pylint --exit-zero'
  local PYLINT='pylint -sn --disable=no-absolute-import'

  local FILES=$(git status --porcelain | awk -F ' ' '{print $2}' | grep '.py' | tr '\n' ' ')
  local FLAKE8_OUT=$($(expr $FLAKE8) $=FILES)
  local PYLINT_OUT=$($(expr $PYLINT) $=FILES)
  local COMBINED_OUT=$(printf '%s\n%s' $FLAKE8_OUT $PYLINT_OUT | sort -)
  echo $COMBINED_OUT

  cd -q $CWD
}

# helmig's script
linty () {
  CHANGED_PYTHON_FILES=`git diff-tree --diff-filter=ACMRT --no-commit-id --name-only -r origin/develop.. -- "*.py" | tr "\n" " "`
  flake8 --exit-zero --format=pylint ${CHANGED_PYTHON_FILES}
  pylint --py3k --disable=no-absolute-import --disable=round-builtin -sn --msg-template="{path}:{line}: [{msg_id}] {msg}" ${CHANGED_PYTHON_FILES}
}

# unfinished T_T
today () {
  local TODAY=$(date +%d)
  local DOW=$(date +%a)
  cal
}

ztdd () {
  find $1 | entr -c docker-compose run web python manage.py test -k -v 0 $2
}

agenda () {
  local DAYS=$([ -n "$1" ] && echo -n "$1" || echo -n 2)
  local TODAY=$(date "+%m/%d/%Y")
  local UNTIL=$(date -v+${DAYS}d "+%m/%d/%Y")
  gcalcli --calendar jacob.blakely@zapier.com --detail_length agenda $TODAY $UNTIL
}

mux () {
  # ensure we have an active tmux server so we load our config
  tmux new -d -s TEMP
  tmuxp load -d $XDG_CONFIG_HOME/tmuxp/$1.tmuxp.yml
  tmux kill-session -t TEMP
  tmux attach -t $1
}

# vim: ft=zsh
